.form-control{
    border-radius: 4px;
    width: 600px;
    margin-left: 82px;
    margin-top: auto;
}

.search-icon{

    position : absolute;
    z-index: 10;
    right: 2%;
    color:black;
    top:13px;

}

.navbar-brand{
    position: relative;
    

}


