<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin Login</h1>
                    <h6>Please enter your email and password.</h6>

                </div>
                <form>
                    <form [formGroup]="adminloginForm" (ngSubmit)="adminlogin()" >
                        
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email adress</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                          <div id="emailHelp" class="form-text">We don't share your information.</div><br>
                          <span class="text-danger" *ngIf="adminloginForm.controls['email'].dirty && adminloginForm.hasError('required','email')">*Email is required!</span>
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          <span class="text-danger" *ngIf="adminloginForm.controls['password'].dirty && adminloginForm.hasError('required','password')">*Password is required!</span>
                        </div>
                        
                        <button type="submit" [disabled]="!adminloginForm.valid" class="btn btn-primary mb-2">Login</button>

                      </form>
                </form>
                <a style="color: white; margin-top: 10px;" routerLink="/login">Click for User Login.</a>

            </div>
        </div>
    </div>
</div>

<!--Bu kısımda login html giydirmemizi yaptık.--> 
<!--Bootstrap formlardan faydalandık.-->
<!--Validasyon ayarlarımızı yaptık,giriş yap butonumuzu bir şarta bağladık[disabled]=!loginForm.Valid sağlanmadığında giriş yap butonumuz aktif olmayacak.-->
